* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 80px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}
h1::before,
h1::after {
  content: "";
  padding: 70px;
  position: absolute;
  left: 30px;
  top: 50%;
  display: block;
  transform: translateX(-50%) translateY(-50%) rotate(0);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(0);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(0);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(0);
  -o-transform: translateX(-50%) translateY(-50%) rotate(0);
  animation: spin 6s alternate infinite ease-in-out;
  -webkit-animation: spin 6s alternate infinite ease-in-out;
}
h1::before {
  border-top: 15px solid #ff125d;
  border-left: 15px solid #ff125d;
}
h1::after {
  border-bottom: 15px solid #ff125d;
  border-right: 15px solid #ff125d;
  z-index: -1;
}
@keyframes spin {
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(360deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(360deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(360deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}
h1 span {
  color: #ff125d;
  font-weight: 600;
  font-size: 5rem;
}
